@import "./colors";

.faq {
  position: relative;
  margin-bottom: 2rem;
  border-bottom: 1px solid $light-grayish-blue;

  &-header {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;

    &-heading {
      color: $very-dark-grayish-blue;
      font-weight: 400;
    }

    &-arrow {
      transition: all 0.3s;
      display: block;
    }
  }

  &-description {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    line-height: 1.5;
    color: $dark-grayish-blue;
    font-size: 1.5rem;
    transition: all 0.3s;
    padding-right: 11rem;
  }
}

.btn {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;

  &:hover {
    cursor: pointer;
  }

  &:hover + div h2 {
    color: $soft-red;
  }

  &:checked:hover + div h2 {
    color: $very-dark-grayish-blue;
  }

  &:checked + div h2 {
    font-weight: 700;
  }

  &:checked ~ div img {
    transform: rotate(180deg);
  }

  &:checked ~ p {
    visibility: visible;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    overflow: visible;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 60em) {
  .faq {
    &-header {
      &-heading {
        font-size: 1.5rem;
        white-space: nowrap;
      }
    }

    &-description {
      padding-right: 3rem;
    }
  }
}
